@import url(https://fonts.googleapis.com/css?family=Lato);
@keyframes spin {
  from {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
  
}

body {
  font-family: Lato;
}
body, h1, h2, h3, h4, h5, p, div{
	margin:0px;
}
.main-body{
    overflow:hidden;
    background-image: linear-gradient(#fefefe, #efefef);
    background-attachment:fixed;
    max-width:100%;
    margin:0 auto;
}
#brand_header{
    background-image: url(junk/hud.gif);
    color: #efefef;
    text-align: right;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: top;
    height: 100vh;
    text-shadow: 2px 2px #000;
    font-weight: bolder;
}
#brand{
    font-family:Montserrat;
    position:absolute;
    padding:5px 3vw;
    top:0;
    margin:0;
    right:0;
    z-index:2;
    transition:padding 0.5s;
    width:100%;
    overflow:hidden;

}
#logo{
    position:absolute;
    width: 50px;
    top: -2px;
    float: left;
    margin: 0 0 0 20px;
}
.button{
    padding: 1.125rem 1.6875rem;
    color: #fff;
    background-color: #000;
    font-weight: 600;
    border-radius: 0.1875rem;
    transition-duration: 0.35s;
    transition-timing-function: ease-out;
}
.button:hover{
    padding: 1.125rem 2.6875rem;
    color: #000;
    background-color: #fff;   
}
#mobile{
    background-color:aliceblue;
}
.sectionheader{
     font-family:Montserrat;
     font-size: 50px;
     padding:15px;
     position: relative;
}
.fullpage-cell{
    margin: 0 auto;
    max-width:608px;
    max-width: 608px;
    min-height: 300px;
    position: relative;
}
ul{
    padding:0;
}
.half{
  width:50%;
}
.left{
   float:left;
}
.right{
   float:right;
}
.center{
   text-align:center;
}
.inline{
  display:inline-block;
}
.full{
    padding: 15vw 10vw;
    background-color: aliceblue;
    margin: 1rem;
}
.normal{
   padding:20px ;
} 
.flickity-viewport{
   padding:0px;
}
.white{
    color:#efefef;
}
.shad{
    text-shadow: 1px 1px 5px #101010;
}
.normal_txt{
    padding: 15px;
}
.txt{
    margin:30px 5vw;
}
.bg{
    background-color:#10101055;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}
.bg_blue{
    background-image: radial-gradient(#3030d0,#1010A0);
    border-radius: 150px;
    padding:75px 30px;
    margin:2.15vw;
}
.card{
    background: rgba(255,255,255,0.5);
    width: 240px;
    height: 300px;
    padding: 20px;
    margin: 1vw;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-top: 2px solid rgba(255,255,255, 0.7);
    border-left: 2px solid rgba(255,255,255, 0.7);
    overflow: hidden;
}
.glass{

}
#servicesfront {    
  background-image: linear-gradient(#101010,#101010,#922898,#101010,#101010);
  min-height: 90vh;
  overflow: hidden;	
}
.max_300{
  width:200px; 
}
#brand_header, .topic_header{ 
	padding:5px;
    
}#front{
	padding:0px;
}

#footer {
    font-family:monospace;
	padding:1px;
	color:#efefef;
}


.topic_header{
    background-color: #1010a0;
    color: #efefef;
    font-size: 18px;
    width: 100%;
    display: inline-block;
}
.games{
    background-color: #101010;
    display: inline-block;
    width:100%;

}
.consult_us{
    background-image: url(junk/business-meeting.jpg);
    background-position: center;
    background-color: #671e1e75;
    background-size: 100% 100%;
    background-blend-mode: difference;
    padding-bottom: 40px;
    background-attachment: fixed;
 
}

#front {    
    background-image: linear-gradient(#fefefe, #efefef);
    min-height: 90vh;
    overflow:hidden;
	
}

#front h2 {
	text-align:center;
}
.icons a{
   
}
.icons li:hover i{
    font-size:55px;
    top:-10px
}
.icons li {
    list-style-type: none;
    display: inline-block;
    margin: -3px;
    height: 55px;
    padding: 15px;
    vertical-align: top;
}
.icons li i{
   font-size:32px;
   display: inline-block;
   position: relative;
   bottom: 0;
   transition: font-size 0.2s;
}
#navbanner{
	background-color:#00000011;
	bottom:10vh;
    text-align: center;
	position: absolute;
    width: 100%;
    transition: background-color 0.5s;
    z-index:1;
        
}
#footer{
	background-color:#1010a0;
	bottom:0px;
    	text-align: center;
	position: fixed;
        width: 100%;
        transition: background-color 0.5s;
        
}
#footer #dock li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 5px;
    transition: background-color 0.5s;
}
#dock a {
	color:#efefef;
	text-decoration: none;
}

#footer *,
#navbanner *{
	margin:0px;
}
#navbanner #dock li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 8vh 2vw;
    width: 14%;
    transition: background-color 0.5s;
}
#dock li h4{
    display:inline-block;
}
#dock li:hover{
    background-color:#101010;
}

#dock li:hover i{
	font-size:20px;
}
#dock li i{
   font-size:0px;
   display: inline-block;
   position: relative;
   bottom: 0;
   padding:3px;
   transition: font-size 0.3s;
}
#dock li span{
    margin:0;
}

#dock li:hover span {
            color: #fefefe;
}
.gallery {
  padding:0;
  margin:0;
}
.game-gallery{
    position:relative;
}

.game-cell {
  margin-right: 10px;
  margin-bottom:10px;
  background-color:rgba(225,225,225,0.7);
  text-align: center;
  width:240px;
  height:360px;
  overflow:hidden;
  backdrop-filter: blur(6px);

}
.game-status{
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #afaf1077;
}

.gallery-cell h4{
  padding:20vh 0 4vh;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 300px;
  font-size: 80px;
  color: white;
}

.addtocart{
    background-color: #29c529;
    padding:10px 15px;
    margin: 7px;
    border-radius: 5px;
    border: none;
    color: #efefef;
    transition: background-color 0.5s;
}
.addtocart:hover{
	    background-color: #3300cc;
}
#phonecontainer{
    display: inline-block;
    text-align: center;
    width: 100%;
}
#iphone{
    border: 1px solid #8f8f8f;
    border-radius: 30px;
    overflow: hidden;
    margin: 70px 10px;
    display: inline-block;
    width: 285px;
    height: 545px;
    box-shadow: 6px 6px 12px #9e9e9e;
	
}
#iphone{
     background-color: #ececec;
}
#iphone .app{
    padding: 30px 6px 40px;
    text-align:initial;
}

#iphone .app .app_body{
    height: 465px;
    background-color: #fefefe;
    border: 1px solid #afafaf;
    overflow: hidden;
}

#iphone .app .app_body ::-webkit-scrollbar,{
    display: none;
}



.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  color: white;
  padding-bottom: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 271px;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.bodynav .ele_head{
    background-color: #4caf50;
    padding: 2px;
    display: inline-block;
    width: 181px;
}
.bodynav h3{
  padding: 50px 5px 5px;
  background-color: #202020;
}
.bodynav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.bodynav .a_phone_element{
    padding: 10px;
    margin: 5px;
    background-color: #202020;
    border-radius: 5px;
    transition: background-color 0.4s;
    color:#efefef;

    
}
.bodynav .a_phone_element h4 {
   color:#efefef;
}
.bodynav .a_phone_element p {
   display: flex;
}
.bodynav .a_phone_element:hover{
    background-color: #efefef;
    color:#202020;

}
.bodynav .app_image{
    max-height:48px;
    max-width:48px;
    float:left;
    margin: 0 2px 2px 0;
}
.active {
  background-color: #4CAF50;
  color: white;
}




:root {
  --box-height: 40px;
  --border-radius: 5px;
  --space-between: 20px;
  --font-size: 16px;

  --color-0: #ffffff;
  --color-1: #dcdcdd;
  --color-2: #c5c3c6;
  --color-3: #212529;
  --color-4: #659b5e;
  --color-5: #ce4257;
}



#survey-container {
    margin: 5px auto;
    padding: 9;
    border-radius: calc(3 * var(--border-radius));
}

#title {
  margin: 30px 0;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 50px;
  text-transform: capitalize;
  color: var(--color-3);
}

#description {
  margin: 30px 0;
  padding: 5px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: var(--color-3);
}

#survey-form {
  padding: 30px;
  padding-top: 20px;
  background: var(--color-1);
  opacity: 98%;
  border: none;
  border-radius: calc(2 * var(--border-radius));
}

#survey-form * {
  font-size: var(--font-size);
}

.row-label,
.row-input {
  margin: 0;
  width: 100%;
  display: block;
}
.row-input {
  height: var(--box-height);
  padding: 5px 10px;
}
.row-label {
  color: var(--color-3);
  font-weight: 600;
  height:20px;
  padding: 0px;
}

.row-label:not(:first-child) {
  margin-top: var(--space-between);
}

.row-input:not(.small) {
  background: white;
  border: none;
  border-radius: var(--border-radius);
}

.inline-label {
  margin-left: 10px;
  font-size: 14px;
  color: var(--color-3);
}

.small {
  height: calc(var(--box-height) * 0.75);
}

#comments {
  padding: 10px;
  margin: 0;1:08 AM 2/26/2021
  height: 120px;
  width: 100%;
  background: white;
  border: none;
  border-radius: var(--border-radius);
  resize: none;
}

#submit {
  margin-top: calc(2 * var(--space-between));
  height: var(--box-height);
  width: 100%;
  background: var(--color-4);
  border: none;
  border-radius: var(--border-radius);
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
}

#submit:hover {
  box-shadow: 0 0 2px var(--color-3);
}

@media (min-width: 43.75rem){
  #logo{
    margin: 0 0 0 50px;
  }
  .full{
    padding:15vh 10vw;
  }
  .consult_us{
    background-size: auto 100%;
  }
  #footer li {
    min-width: 10vw;
  }
  #dock li h4, #dock li h5{
    position: absolute;
    bottom: 45px;
    text-align: center;
    padding: 5px;
    margin: 0;
    left: -5;
    font-size: 11px;
    background-color: #101010; 
    display:none; 
    width: 100%;
  }
  #dock li i{
   font-size:20px;
   padding: 0px 3vw;
  }
  #dock li:hover i{
    font-size:30px;
  }
  #footer li:hover h4,#footer li:hover h5{
    display:block;
  }
}
